#тестируем файл для функции игнорирования

access.log 
#игнорируем файл во всех директориях проекта

direct 
#игнорируется директория во всех директориях проекта

/coverage 
#игнорируется директория в корне рабочей директории

/db/*.sqlite3 
#блокируем все sqlite3 файлы в директории db, но не в папках этой директории

db/**/*.sqlite3
#блокирует на всех уровнях

